# install4j response file for Burp Suite Enterprise Edition 2023.2-12088
beuser=burpsuite
beuserandgroup=burpsuite\:burpsuite
dataDirectory=/var/lib/BurpSuiteEnterpriseEdition
dbType=mariadb
enterprise_server_address=https\://burup.suite.enterprise
escapedDataDir=/var/lib/BurpSuiteEnterpriseEdition
escapedInstallationDir=/opt/burpsuite_enterprise
jreHome=/opt/burpsuite_enterprise/jre
logsDirectory=/var/log/BurpSuiteEnterpriseEdition
perf_warning_accepted$Boolean=true
platformScriptSuffix=sh
sys.adminRights$Boolean=true
sys.adminRightsUiRootUnix$Boolean=true
sys.component.agent$Boolean=true
sys.component.db$Boolean=false
sys.component.enterprise$Boolean=false
sys.component.web$Boolean=false
sys.installationDir=/opt/burpsuite_enterprise
sys.languageId=en
sys.programGroupDisabled$Boolean=true
